$mainColor: #f8f8f8;

@mixin btn {
  margin-top: 50px;
  width: 100px;
  height: 40px;
  color: $mainColor;
  border-radius: 5px;
  font-size: 14px;
}

* {
  margin: 0;
}

.card {
  height: 300px;
  text-align: center;
  margin: 1px;

  .card__title {
    font: bold 20px Georgia, serif;
    color: $mainColor;
    border: solid 1px $mainColor;
    padding: 15px;

    &.blue {
      background-color: #77c7de;
    }

    &.green {
      background-color: #488b53;
    }

    &.red {
      background-color: #d56f4a;
    }

    &.black {
      background-color: #2d2d2d;
    }
  }

  .card__rate {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding: 30px 0;
    color: $mainColor;

    &.blue {
      background-color: #96e2f7;
    }

    &.green {
      background-color: #5aa366;
    }

    &.red {
      background-color: #ee8863;
    }

    &.black {
      background-color: #363535;
    }

    .rateValue,
    .rateMonth {
      display: flex;
      font: 15px Georgia, serif;
    }

    .ratePrice {
      display: flex;
      align-items: center;
      font: bold 40px Georgia, serif;
    }

    .rateMonth {
      align-items: flex-end;
    }
  }

  .card__speed {
    background-color: $mainColor;
    padding: 20px 0;
    height: 10%;
  }

  .card__detailes {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 30px;
    height: 40px;
  }
}

.selected {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn_not-selected {
  @include btn;
  background-color: #488b53
}

.btn_selected {
  @include btn;
  background-color: #d56f4a;
}