@import '../../styles/options.scss';

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 80px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $mainColor;

    .header__logo {
        font: $logoFont;

        a {
            text-decoration: none;
            color: $textColor;
        }
    }

    .header__nav {
        font: $mainFont;
        display: flex;
        width: 300px;

        li {
            margin: 15px;
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: $textColor;
        }

        a:hover {
            text-shadow: #f99169 0 0 10px;
        }
    }
}