@import '../../styles/options.scss';

.form__word {
    display: flex;
    justify-content: space-around;
    background-color: $mainColor;
    width: 1000px;
    margin: 50px;
    padding: 10px 0;
    border: 1mm ridge rgba(209, 236, 255, 0.896);
    border-radius: 10px;

    .input__field {
        font: $mainFont;
        display: flex;
        flex-direction: column;

        input {
            margin-top: 10px;
        }
    }
}

.button__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .button__add {
        @include btn;
        background-color: #5df255;

        &:hover {
            background-color: #e4ff6b;
        }
    }
}