@import '../../styles/options.scss';

@mixin btn {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font: $buttonFont;
    color: $textColor;
    cursor: pointer;
    margin: 5px;
}

table {
    border: $boldBorder;
    width: 1000px;
    height: 200px;

    th {
        border-bottom: $regularBorder;
        background-color: $mainColor;
    }

    td {
        width: 200px;
        text-align: center;
        background-color: #ecececcb;

        input {
            text-align: center;
        }

        .input__error {
            border: 2px solid red;
        }

        .input__edit {
            border-color: 2px solid blue;
        }
    }
}


.button__edit {
    @include btn;
    background-color: #7dee97cb;

    &:hover {
        background-color: #37c959cb;
    }
}

.button__delete {
    @include btn;
    background-color: #dc64d8c7;

    &:hover {
        background-color: #c42ebfc7;
    }
}

.button__cancel {
    @include btn;
    background-color: #5c90f0c7;

    &:hover {
        background-color: #3772bac7;
    }
}

.button__add {
    @include btn;
    background-color: #5df255;
}

.button__disabled {
    color: grey;
}