@import '../../styles/options.scss';

.App {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.445) 0 100%), url(../../img/background_img.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: $mainColor;
    z-index: 10;
    border-bottom: 1mm ridge rgba(209, 236, 255, 0.896);

    .header__logo {
        font: $logoFont;

        a {
            text-decoration: none;
            color: $textColor;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    .header__nav {
        font: $mainFont;
        display: flex;
        justify-content: space-evenly;
        width: 300px;

        li {
            padding: 10px;
            list-style-type: none;
            border: 1mm ridge rgba(209, 236, 255, 0.896);
            border-radius: 10px;
            background-size: 300% 100%;
            background-color: #bcdef7;

            &:hover {
                @include btn-hover;
                background-image: linear-gradient(to right, #9dafff, #64b6ec, #4393ef, #916af5);
                box-shadow: 0 4px 15px 0 rgba(104, 143, 252, 0.75);
            }
        }

        a {
            text-decoration: none;
            color: $textColor;
        }

        a.active {
            color: red;
        }
    }
}

.greeting__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .greeting__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        .greeting__title {
            color: $textColor;
            font: $logoFont;
            margin: 20px;
        }

        .greeting__text {
            width: 300px;
            text-align: center;
            color: $textColor;
            font: $mainFont;
        }

        .greeting__btn {
            @include btn;
            width: 120px;
            height: 40px;
            margin: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ff9a44;
            background-size: 300% 100%;

            .greeting__btn-img {
                width: 30px;
            }

            &:hover {
                @include btn-hover;
                background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
                box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
            }
        }
    }
}