@import '../../styles/options.scss';

.word__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    border: solid 1px $borderColor;
    background-color: #ffffffa0;

    .englishWord {
        @extend %cell-place;
    }

    .englishTranslation {
        @extend %cell-place;
    }
}